.payment {
    background-color: white;
    min-height: 100vh;
}

.borderBottom {
    padding: 1rem;
    border-bottom: 1px solid gray;
}

.payment__signInButton {
    background-color: #FFD814;
    border: 1px solid #FCD200;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    cursor: pointer;
    font-size: 1.1rem;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

.margin {
    margin: 3rem;
}

.payment__signInButton:hover {
    background-color: #f8d10b;
}

.linkToSignIn--image {
    width: 200px;
    padding: 1rem;
    margin-top: 1rem;
}

.payment__linkToSignIn {
    display: flex;
    align-items: center;
    max-width: 100%;
}

@media screen and (max-width: 700px) {
    .payment__linkToSignIn, .payment__middle, .payment__top, .payment__bottom {
        flex-direction: column;
    }
    .small_screen_width {
        width: 90%!important;
    }
    .bottom--btn {
        flex-direction: column-reverse!important;
    }
}

.amt--fontColor {
    color: red;
}

.payment__userInfo {
    padding: 1rem;
}

.rowWidth {
    width: 95%;
}

.flex {
    display: flex;
    padding: 1rem;
}

.payment__userSignedIn {
    flex-direction: column;
    margin: auto;
}

.payment__style {
    width: 20%;
}

.payment__bottom {
    padding: 1rem;
}

.payment__btn {
    margin-top: 1rem;
}

.bottom--btn {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 1rem 0px;
}

.payment__amount {
    flex-direction: column;
    width: 70%
}