.signIn {
    background-color: white;
    height: 100vh;
    margin: 0px;
}

.signIn__image {
    width: 100px;
    object-fit: contain;
    margin: auto;
    display: block;
    padding: 2rem 0px;
}

.signIn__container {
    width: 300px;
    margin: auto;
    align-items: center;
    border: 1px solid lightgrey;
    padding: 1rem;
}

.form--heading {
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.ip--padding {
    padding: 0.5rem;
    box-sizing: border-box;
}

.form--subheading {
    padding-bottom: 0.5rem;
}

.form--input {
    margin-bottom: 1rem;
    background-color: white!important;
}

.form--btnSize {
    width: 98%;
}

.signIn__form {
    display: flex;
    flex-direction: column;
}

.signIn__para {
    margin: 1rem 0px;
    text-align: justify;
    display: block;
}

.btn--style {
    border: 1px solid darkgray;
}

.btn--style:hover {
    background-color: darkgray;
}