.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--amazon-darkblue);
    color: white;
}

.mar {
    margin-right: 1rem;
}

.ca {
    align-items: center;
}

.header>img {
    width: 80px;
    height: 60px;
    margin: 0.5rem 1rem 0px 1rem;
    object-fit: contain;
}

.header__searchfield {
    display: flex;
    flex: 1 1;
}

.header__searchfield>.MuiSvgIcon-root {
    background-color: var(--amazon-yellow);
    padding: 0.4rem;
    border: none;
    height: 22px!important;
}

.header__searchfield>input {
    padding: 0.5rem;
    display: flex;
    width: 100%;
    flex: 1;
}

.header__basket {
    display: flex;
}