.productsum {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    background-color: 1px solid #ddd;
    border-radius: 0.2rem;
}

.productsum__input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.productsum__price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 300px;
    height: 100px;
    padding: 1rem;
}

.btn--width {
    width: 280px;
    margin: 0px auto;
    padding: 0.4rem;
    border-radius: 0.2rem;
}

.product__button:hover {
    background-color: #9c7e31;
}